.commentName {
  font-size: 15px;
}

.commentDate {
  font-size: 13px;
  margin-left: 32px;
}

.commentText {
  font-size: 15px;
  margin-left: 32px;
  background-color: #2c2c2c;
  border: none;
  color: #ffffff;
  width: 90%;
  word-wrap: break-word;
  resize: none;
  height: 30px;
}

.commentText:focus {
  outline: none;
}

.comment {
  background-color: #2c2c2c;
  margin-left: 10px;
  border-radius: 25px;
  margin-top: 10px;
  width: 90%;
}

.commentUserImg {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.editIcons {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5%;
  margin-top: 10px;
}

.editIcon {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 5px;
}

.editIcon:hover {
  background-color: #320949;
  border-radius: 20%;
}
