.friendRequestName {
  font-size: 15px;
}

.friendRequestDate {
  font-size: 13px;
  margin-left: 32px;
}

.friendRequestText {
  color: #ffffff;
}

.friendRequest {
  background-color: #2c2c2c;
  margin-left: 10px;
  border-radius: 25px;
  margin-top: 10px;
  width: 95%;
}

.friendRequest:hover {
  background: #2c2c2c;
}

.friendRequestUserImg {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.acceptBtn {
  border-color: #320949;
  color: #ffffff;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  width: 100px;
  background: transparent;
  margin-left: 70%;
}

.acceptBtn:hover {
  background-color: #320949;
}
