.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 17px;
  font-weight: 500;
  margin: 0 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  margin-top: 20px;
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.postBottomMiddle {
  margin-left: 20px;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
  color: #ffffff;
}
.heartIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.btnText {
  font-size: 13px;
  margin-left: 5px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}
.postText {
  align-items: center;
  font-size: 17px;
  background: transparent;
  border: none;
  color: #ffffff;
  width: 100%;
  word-wrap: break-word;
  resize: none;
  height: 30px;
}

.postText:focus {
  outline: none;
}

.likeBtn {
  border-color: #320949;
  color: #ffffff;
  border: none;
  padding: 7px;
  border-radius: 5px;
  font-weight: 500;
  margin-right: 20px;
  cursor: pointer;
  color: white;
  width: 120px;
  background: transparent;
}

.likeBtnClicked {
  background-color: #320949;
}

.likeBtn:hover {
  background-color: #320949;
}

.postEditBtn {
  background: transparent;
  border: none;
  color: #ffffff;
  padding: 5px;
}

.postEditBtn:hover {
  background-color: #320949;
  border-radius: 20%;
}
